.App {
  text-align: center;
  min-height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 0 20px;
  margin-top: -200px;
  color: white;
  letter-spacing: 1px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
